**Question.1**

In [1]:
n=5
arr=[40,30,60,70,50]
arr.sort(reverse = True)
largest = arr[0]
for ele in arr[1 : ]:
  if ele < largest:
    print("runner-up score:",ele)
    break

runner-up score: 60

**Question.2**

In [10]:
d={'john':[25,32,43],'peter':[87,55,96],'ram':[58,55,43],'meena':[63,79,85]}
print(d)

if (d.update(ram=[88,77,99])):
  print(d)
else:
   print("name not found")


print(d)

{'john': [25, 32, 43], 'peter': [87, 55, 96], 'ram': [58, 55, 43], 'meena': [63, 79, 85]}
name not found
{'john': [25, 32, 43], 'peter': [87, 55, 96], 'ram': [88, 77, 99], 'meena': [63, 79, 85]}

**Question.3**

**(1)**

In [11]:
age1=eval(input("enter age of first person:\n"))
age2=eval(input("enter age of second person:\n"))
age3=eval(input("enter age of third person:\n"))
age4=eval(input("enter age of fourth person:\n"))

enter age of first person:
4
enter age of second person:
10
enter age of third person:
33
enter age of fourth person:
66

**(2)**

**(a)**

In [12]:
age=eval(input("enter your age:\n"))
if (age<=5):
  print("you get free")
else:
  print("exit")

enter your age:
4
you get free

**(b)**

In [13]:
age=eval(input("enter your age:\n"))
if (6<age<=12):
   print("ticket price is 10")
else:
  print("exit")

enter your age:
10
ticket price is 10

**(c)**

In [14]:
age=eval(input("enter your age:\n"))
if (12<age<59):
   print("ticket price is 50")
else:
  print("exit")

enter your age:
33
ticket price is 50

**(d)**

In [15]:
age=eval(input("enter your age:\n"))
if (age>=60):
   print("you get free ")
else:
  print("exit")

enter your age:
66
you get free

**(e)**

In [16]:

type=(input("is women?\n",))
amount=float(input("enter ticket amount:\n"))
total=0
if type =='yes' or 'yes':
  total+=amount-amount*50/100
  print(total)
else:
  print("exit")

is women?
yes
enter ticket amount:
100
50.0

**(3)**

In [17]:
age1=eval(input("enter age of first person:\n"))
age2=eval(input("enter age of second person:\n"))
age3=eval(input("enter age of third person:\n"))
age4=eval(input("enter age of fourth person:\n"))
total=0
ages =[age1,age2,age3,age4]
for age in ages:
  if(age<5):
    total+=0
  elif((6<age<=12)):
    total+=+10
  elif(12<age<59):
    total+=+50
  elif(age>=60):
    total+=0
print("total ticket price:",total)

enter age of first person:
4
enter age of second person:
10
enter age of third person:
33
enter age of fourth person:
66
total ticket price: 60